.step-template .action-type {
    font-size: 0.8rem;
    color: #CCC;
    font-style: italic;
}

.step-template-parameter {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background: #f5f3ea;
    margin-bottom: 0.5rem;
}

.step-template-parameter h4 {
    margin: 0.3rem 0;
}

.step-template-parameter .name-as-variable {
    font-weight: bold;
    color: #990000;
}

.step-template-parameter .parameter-help {
    font-size: 0.8rem;
    color: #777;
}

button.copied {
    display: none;
}

a.author {
    font-weight: bold;
    color: #DDD;
}