html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: $background-color;
  color: $base-color;
  font: 100% $font-stack;
  padding: 0;
  margin: 0 0 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: #3370a2;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.wrapper {
  margin: 0 0 200px;
}
