.button {
    border-radius: .25rem;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
}

.button.success {
  background-color: #48b350;
  border-color: #48b350;
}

.button.success:hover,
.button.success.zeroclipboard-is-hover {
  background-color: #6cc16b;
  border-color: #6cc16b;
}
