.button {
    border-radius: .25rem;
    color: white;
    border: 1px solid transparent;
    padding: 0.3rem;
}

.button.success {
  background-color: #57a856;
  border-color: #57a856;
}

.button.success:hover,
.button.success.zeroclipboard-is-hover {
  background-color: #6cc16b;
  border-color: #6cc16b;
}
