.overflow-ellipsis {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.centered {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
