// Fonts
$font-stack:      'Roboto', sans-serif;

// Icon
$octopus-footer-icon: calc(18em / 14);

// Colors
$base-color:    #222;
$background-color: #FFF;

// Media queries
$small-desktop: "(min-width: 640px)";
$medium-desktop: "(min-width: 641px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
