# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
* text=auto
*.ps1 text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
