node_modules/
dist/
build/
app/services/*.json
integrations/
.idea/

junitresults.xml
scriptcs_packages/
scriptcs_packages.config

step-templates/*.ps1
step-templates/*.sh
step-templates/*.py
/.vs
!.vscode
