* text=auto

*.json text eol=lf
*.png binary

src/step-templates/*/scriptbody.ps1 -text
src/step-templates/*/predeploy.ps1 -text
src/step-templates/*/deploy.ps1 -text
src/step-templates/*/postdeploy.ps1 -text
src/step-templates/*/scriptbody.sh -text
src/step-templates/*/scriptbody.py -text
