.button {
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
    border-radius: .25rem;
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: white;
    border: none;
    padding: 0.3rem;
}

.button.success {
    background-color: #2EC44F;
}

.button.success:hover {
    background-color: #27A443;
}
