html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    color: #50483b;
    font-weight: normal;
}

.code {
    background-color: #f5f3ea;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.8rem;
}

pre.code {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cac5a4;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.tutorial {
    font-size: 0.8rem;
    color: #777;
}

.faint {
    font-size: 0.8rem;
    color: #DDD;
}

.placeholder {
    font-size: 0.8rem;
    color: #CCC;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #3370a2;
}

a:active, a:hover {
    text-decoration: none;
    color: #215680;
}
