doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='keywords',content='#{siteKeywords}')
    meta(name='description',content='#{siteDescription}')

    title Octopus Deploy Library

    link(rel='shortcut icon', href='/images/Octopus-96x96.png', type='image/x-icon')
    //- vendor:css
    //- endinject

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet')

    //- inject:css
    //- endinject
  body
    script(type='text/javascript').
      window.stepTemplates = !{stepTemplates}

    #reactRoot!= reactOutput

    //- inject:js
    //- endinject
