footer {
  background-color: #0f2535;
  padding: 1rem 0;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  .icon-octopus {
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('/images/Octopus-96x96.png');
    background-size: $octopus-footer-icon;
    margin-bottom: -4px;
    display: inline-block;
    padding-left: 1.4em;;
  }

  .dark-red {
    color: #800000;
  }

  .column {
    a {
      color: #3bafda;

      &:hover {
        color: #4fc1e9;
      }
    }

    p, ul {
      padding: 0;
    }

    ul {
      list-style: none;

      li {
        display: inline;
        background-position: center left;
        background-repeat: no-repeat;
        margin: 0 5px;

        a {
          color: #a2a2a2;

          &:hover {
            color: #2F93E0;
          }
        }
      }

    }
  }
}
