
header {
  background-color: #2f93e0;
  padding: 20px;

  .site-title {
    font-size: 15pt;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('/images/octopus-white.png');
    background-size: 2rem;
    padding: 5px 0;
    padding-left: 40px;
    color: #FFFFFF;
    margin: 0;
    font-weight: 300;

    a {
      color: #f2f2f2;
      text-decoration: none;
    }
  }
}
