
header {
  background-color: #0f2535;
  padding: 12px;

  .site-title {
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('/images/octopus-white.png');
    background-size: 1.5rem;
    padding-left: 1.75rem;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;

    a {
      color: #f2f2f2;
    }
  }
}
