.template-search {
  background-color: #f5f7fa;
  padding: 1rem 0;
}

.search-box {
  padding: 1rem 0;

  .search-input input {
    width: 100%;
    font-size: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    @media #{$desktop} {
      font-size: 120%;
    }
    @media #{$medium-desktop} {
      font-size: 112%;
    }
  }
}
