.social-buttons {
  display: inline;

  .twitter-share-button {
    margin-left: 5px;
    display: inline-block;
  }
  .fb-share-button {
    margin-left: 6px;
    display: inline-block;
  }
  .github-button {
    margin-left: 6px;
    display: inline-block;
    font-size: small;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .github-button > a {
    color:#000000;
  }
  .github-button > a:hover {
    color:#000000;
  }
}
