.social-buttons {
  display: flex;
  margin-top: 1em;

  .github-button {
    display: inline-block;
    font-size: small;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .github-button > a {
    color:#000000;
  }
  .github-button > a:hover {
    color:#000000;
  }
}
