.template-list {
  margin: 0.2rem 0;
  padding: 1rem 0;
}

ul.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-summary {
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 32px;

    h4 {
      font-weight: 300;
      margin: 0;

      a {
        color: #333;

        &:hover {
          color: #4fc1e9;
        }
      }
    }

    .faint {
      color: #666;

      strong {
        color: #3bafda;
      }
    }
}

.item-summary.octopus-script {
  background-image: url('/images/step-script-template.png');
}

.item-summary.octopus-tentaclepackage {
  background-image: url('/images/step-package-template.png');
}

.item-summary.octopus-email {
  background-image: url('/images/step-email-template.png');
}

.item-summary.octopus-manual {
  background-image: url('/images/step-manual-template.png');
}

.item-summary.octopus-azurecloudservice,
.item-summary.octopus-azurewebapp,
.item-summary.octopus-azurepowershell {
  background-image: url('/images/step-azure-template.png');
}

.item-summary h4, .item-summary p {
    margin: 0;
}

.item-summary p {
    font-size: 0.6rem;
}
