.step-template {
  padding: 0.2rem 0;
  margin: 0.2rem 0;

  h2, h3 {
    margin-bottom: 0;
    font-weight: 300;
  }


  .faint {
    color: #666;
    font-size: 0.6rem;

    strong {
      color: #3bafda;
    }

    a {
      color: #3bafda;

      &:hover {
        color: #4fc1e9;
      }
    }
  }

  .template-description {
    font-size: 0.8rem;
    color: #777;
    font-style: italic;
  }
}

.step-template .action-type {
    font-size: 0.8rem;
    color: #CCC;
    font-style: italic;
}

.step-template-parameter {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background: #f5f5f5;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
}

.step-template-parameter h4 {
    margin: 0.3rem 0;
    font-weight: 300;
}

.step-template-parameter .name-as-variable {
    font-weight: bold;
    color: #777;
}

.step-template-parameter .parameter-help {
    font-size: 0.8rem;
    color: #777;
}

button.copied {
    display: none;
}

.hidden {
  display: none;
}

.scroll {
    overflow: auto;
    max-height: 1000px;
}

.fb-share-button {
  top: -6px;
}

.templateContent {
  overflow: hidden;
  height: auto;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

/* Step template body modal */
.btn-close {
  color: #aaaaaa;
  font-size: 1.1rem;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 15px;
}
.btn-close:hover {
  color: #919191;
}

.template-modal:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 99%;
}

.template-modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  background: #FFFFFF;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: 0;
  position: fixed;
  left: 0.5%;
  top: 1%;
  z-index: 11;
  width: 99%;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.template-modal-body {
  padding: 20px;
  height: 95%;
  overflow-y: auto;
}
.template-modal-header {
  padding: 0px 15px;
  position: static;
}
.template-modal-header {
  border-bottom: #eeeeee solid 1px;
}
.template-modal-header h2 {
  font-size: 20px;
}
