.template-list {
  margin: 0.2rem 0;
  padding: 1rem 0;
}

ul.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-summary {
    margin-bottom: 3rem;

    img {
      width: 55px;
      max-height: 55px;
      position: absolute;
    }

    h4 {
      margin: 0 0 4px 75px;
      font-size: 15pt;

      a {
        color: #333;

        &:hover {
          color: #0091ea;
        }
      }
    }

    .faint {
      color: #666;
      margin: 0 0 0 75px;

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      strong {
        color: #3bafda;
      }
    }
}



