.step-template {
  padding: 2rem 0;
  margin: 0.2rem 0;

  h2, h3 {
    margin-top: 50px;
  }

  .name, .who-when {
    margin: 0 0 0 70px;
  }

  .name {
    margin-top: 15px;
  }

  .logo {
      width: 60px;
      height: 60px;
      position: absolute;
  }

  .showHideScript {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 20px;
    font-size: 14pt;
    display: block;
    color: #999;
    text-align: center;
    width: 300px;
    margin: 30px auto;
    cursor: pointer;
  }

  .faint {
    color: #666;
    font-size: 0.6rem;

    &:hover {
      cursor: pointer;
    }

    strong {
      color: #3bafda;
    }

    a {
      color: #3bafda;

      &:hover {
        color: #0091ea;
      }
    }
  }

  .template-description {
    font-size: 13pt;
    color: #222;
    margin: 30px 0;
    display: block;
    clear: both;
  }
}

.step-template .action-type {
    font-size: 0.8rem;
    color: #CCC;
    font-style: italic;
}

.step-template-parameter {
    overflow-y: hidden;
    margin-bottom: 15px;
    padding: 20px;
    background: #f5f7fa;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.step-template-parameter h4 {
    margin: 0 0 0.3rem 0;
    font-weight: bold;
}

.step-template-parameter .name-as-variable {
    color: rgb(101, 123, 131);

    .code {
      color: navy;
      background: none;
    }
}

.step-template-parameter .parameter-help {
    color: rgb(101, 123, 131);
    font-size: 90%;
}

button.copied {
    display: none;
}

.hidden {
  display: none;
}

.scroll {
    overflow: auto;
    max-height: 1000px;
}

.templateContent {
  overflow: auto;
  height: auto;
  -webkit-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;

  pre {
    font-size: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

/* Step template body modal */
.btn-close {
  color: #aaaaaa;
  font-size: 1.1rem;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 15px;
}
.btn-close:hover {
  color: #919191;
}

.template-modal:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 99%;
}

.template-modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  background: #FFFFFF;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: 0;
  position: fixed;
  left: 0.5%;
  top: 1%;
  z-index: 11;
  width: 99%;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.template-modal-body {
  padding: 20px;
  height: 95%;
  overflow-y: auto;
}
.template-modal-header {
  padding: 0px 15px;
  position: static;
}
.template-modal-header {
  border-bottom: #eeeeee solid 1px;
}
.template-modal-header h2 {
  font-size: 20px;
}
