.template-list {
  margin: 0.2rem 0;
  padding: 1rem 0;
}

ul.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-summary {
    margin-bottom: 0.5rem;

    img {
      width: 30px;
      height: 30px;
      position: absolute;
    }

    h4 {
      font-weight: 300;
      margin: 0 0 0 40px;

      a {
        color: #333;

        &:hover {
          color: #4fc1e9;
        }
      }
    }

    .faint {
      color: #666;
      margin: 0 0 0 40px;
      font-size: 0.6rem;

      strong {
        color: #3bafda;
      }
    }
}



