.search-box {
    border: 1px solid #ddd;
    padding: 1rem;
    background: #f5f3ea;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.search-box .search-input input {
    width: 100%;
}