.item-summary {
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 32px;
    background-image: url('img/step-script-template.png');
}

.item-summary h4, .item-summary p {
    margin: 0;
}

.item-summary p {
    font-size: 0.6rem;
}