.item-summary {
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 32px;
}

.item-summary.octopus-script {
  background-image: url('img/step-script-template.png');
}

.item-summary.octopus-tentaclepackage {
  background-image: url('img/step-package-template.png');
}

.item-summary.octopus-email {
  background-image: url('img/step-email-template.png');
}

.item-summary.octopus-manual {
  background-image: url('img/step-manual-template.png');
}

.item-summary.octopus-azurecloudservice,
.item-summary.octopus-azurewebapp,
.item-summary.octopus-azurepowershell {
  background-image: url('img/step-azure-template.png');
}

.item-summary h4, .item-summary p {
    margin: 0;
}

.item-summary p {
    font-size: 0.6rem;
}
