html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.code {
    background-color: #f8f8f8;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.8rem;
}

pre.code {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.placeholder {
    font-size: 0.8rem;
    color: #CCC;
    font-style: italic;
}