footer {
    border-top: 1px solid #cac5a4;
    border-bottom: 1px solid #cac5a4;
    background: #e5e0ce;
    margin-top: 3rem;
    color: #333;
    padding-bottom: 1rem;
}

footer h5 {
    color: #000;
}

footer .column ul {
    padding: 0;
    list-style: none;
    font-size: .8rem;
}

footer .column p {
    padding: 0;
    font-size: .8rem;
}

footer a {
    color: #08C;
}

footer .social {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 22px;
}

footer .social.social-twitter {
    background-image: url('img/social-twitter.png');
}

footer .social.social-google {
    background-image: url('img/social-google.png');
}

footer .social.social-rss {
    background-image: url('img/social-rss.png');
}