header {
    background: #215680;
    border-bottom: 1px solid #0a396d;
    padding-bottom: 3px;
}

header .banner {
    background-color: #3370a2;
}

header a, header a:hover, header a:active {
    color: white;
    text-decoration: none;
}

header h1 {
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 2.5rem;
    background-image: url('img/octopus-white.png');
    background-size: 2rem;
}
