header {
    background: #215680;
    border-bottom: 1px solid #0a396d;
    padding-bottom: 3px;
}

header .banner {
    height: 5.3rem; /* This needs to be sorted out */
    background-color: #3370a2;
}

header a, header a:hover, header a:active {
    color: white;
    text-decoration: none;
}
