name: Link to hyponome
on: 
  pull_request:
    types: [opened]
    paths:
      - 'step-templates/**'
jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body:
                Start Hyponome locally
                ```
                docker pull ghcr.io/hnrkndrssn/hyponome:main
                docker run --rm -p 8000:8080 -it ghcr.io/hnrkndrssn/hyponome:main
                ```
                
                [Review in Hyponome](http://localhost:8000/pulls/${context.issue.number})
            })
